* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans ", sans-serif;
    background: #20b2aa;
  }
  
  .conatiner {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .title {
    display: flex;
    justify-content: center;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .post {
    padding: 8px;
    border-color: bisque;
    border: 1px;
    color: #fff;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .pagination__list {
    display: flex;
    list-style-type: none;
  }
  
  .pagination__item {
    margin: 8px;
    cursor: pointer;
    color: #20b2aa;
    line-height: 45px;
  
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  .pagination__list li {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background: #fff;
    text-align: center;
  }
  .pagination__item--active {
    font-weight: 800;
    color: gold;
  }
  
  /* .pagination ul {
    display: flex;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
  }
  */
  /* .pagination ul li {
    color: #20b2aa;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  } */
  
  /* .pagination ul li.numb {
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }
  
  .pagination ul li.dots {
    font-size: 22px;
    cursor: default;
  } */
  
  /* .pagination ul li.btn {
    padding: 0 20px;
  }
  
  .pagination ul li.prev {
    border-radius: 25px 5px 5px 25px;
  }
  
  .pagination ul li.next {
    border-radius: 5px 25px 25px 5px;
  }
  
  .pagination ul li.active,
  .pagination ul li.numb:hover,
  .pagination ul li.btn:hover {
    color: #fff;
    background: #20b2aa;
  } */